.shapka {
    display: flex;
    justify-content: center;
    font-family: monospace;
    flex-wrap: wrap;    
}

.book {
    display: flex;
    border: 5px dotted darkblue;
    background-color: blue;
    color: white;
    font-family: monospace;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
}

.book img {
    width: 250px;
}

.book2 {
    display: flex;
    border: 5px dotted darkblue;
    background-color: blue;
    color: white;
    font-family: monospace;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
}

.book2 img {
    width: 250px;
}

.podval {
    background-color: green;
    color: white;
    border: 5px solid greenyellow;
    padding: 10px;
}

.book2 h1 {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.book h1 {
    padding-left: 50px;
}

.shapkaimg {
    display: flex;
    justify-content: center;
}    

.wishlistprod {
    width: 400px;
    text-align: center;
    padding: 10px;
    border: 5px solid greenyellow;
    background-color: red;
    color: white;
    font-family: monospace;
}

main section {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: white;
    size: 100px;
}

.reccomend {
    display: flex;
    text-align: center;
    font-family: monospace;
}

a:hover {
    color: greenyellow;
}

a:visited {
    color: gray;
}

a:focus {
    background-color: black;
    color: white;
}
