.shapka {
    display: flex;
    justify-content: center;
    font-family: monospace;
    flex-wrap: wrap;    
}

.book {
    display: flex;
    border: 10px dotted darkblue;
    background-color: #1047A9;
    color: white;
    font-family: monospace;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
}

.book img {
    width: 250px;
}


.podval {
    background-color: #052A6E;
    color: white;
    border: 5px solid blue;
    padding: 10px;
    border-radius: 20px;
    font-family: monospace;
}


.book h1 {
    padding-left: 50px;
}

.shapkaimg {
    display: flex;
    justify-content: center;
}    

.wishlistprod {
    width: 400px;
    text-align: center;
    padding: 10px;
    border: 5px solid blue;
    background-color: #1047A9;
    color: white;
    font-family: monospace;
    border-radius: 20px;
}

main section {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: white;
    size: 100px;
}

.reccomend {
    display: flex;
    text-align: center;
    font-family: monospace;
}

a:hover {
    color: greenyellow;
}

a:visited {
    color: gray;
}

a:focus {
    background-color: black;
    color: white;
}

nav {
    background-color: #6B90D4;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-size: 30px;
    font-family: monospace;
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.podval nav {
    display: flex;
    justify-content: center;
}

.book h3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
